# $Part2 -- Que1$.

## Check if the sentence is Grammatically correct: 

- Please use any pre-trained model or use text from open datasets. 
- Once done, please evaluate the English Grammar in the text column of the below dataset.
- [DataSet Link](https://drive.google.com/file/d/1LTI5KNqPrtxrYRgJk2AxI30KgYyNcRpD/view)

## $Import Required Libraries :$


```python
# install language-tool-python
pip install language-tool-python

```

For more info click - [language-tool-python](https://pypi.org/project/language-tool-python/).

In [1]:
import numpy as np
import pandas as pd

import language_tool_python
tool = language_tool_python.LanguageTool('en-US')  # language English-US

## $Load Data :$

In [2]:
data = pd.read_csv('data/review_data.csv', nrows=500)
data.head(2)

,text,star,app_id,reviewDate
0,Anathi Khanyile,5,com.fingersoft.hillclimb,18/03/21
1,Tony bahut funny hai Hill climbing racing my f...,5,com.fingersoft.hillclimb,18/03/21

## $text$ $column$

In [3]:
df = data[['text']]

# check missing values
df.isnull().sum()

text    0
dtype: int64

## $Check - Grammatical$ $Correct$ $or$ $not :$

In [5]:
# tool.check() : to generate the list of error rules matches

try:
    df = df.assign(Grammatical_Status = ['Incorrect' if len(tool.check(rows))>0 else 'Correct' for rows in df.text])
except Exception as e:
    print('Error: ', e)

In [6]:
df.head()

                                                text Grammatical_Status
0                                    Anathi Khanyile          Incorrect
1  Tony bahut funny hai Hill climbing racing my f...          Incorrect
2                                            Teturwu          Incorrect
3  Hoooooooooooyaaaaaaaaa what a game hoooooooooo...          Incorrect
4                                  This game is nice            Correct

## $Fix -$ $Grammatical$ $incorrect :$

In [7]:
# tool.correct() : to correct the error rules matches

try:
    df = df.assign(Corrected = [tool.correct(rows) for rows in df.text])
except Exception as e:
    print('Error: ', e)

In [8]:
df.head()

,text,Grammatical_Status,Corrected
0,Anathi Khanyile,Incorrect,Anti Handle
1,Tony bahut funny hai Hill climbing racing my f...,Incorrect,Tony Beirut funny HAI Hill climbing racing my ...
2,Teturwu,Incorrect,Return
3,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...,Incorrect,Hoooooooooooyaaaaaaaaa what a game hoooooooooo...
4,This game is nice,Correct,This game is nice

In [9]:
tool.close()